/* IMPORT */
@import 'reset.css';
@import 'defined-classes.css';

/* GENERAL */
* {
   box-sizing: border-box;
}

body {
   font-size: 18px;
   font-family: 'Open Sans', sans-serif;
   color: #1c2123;
   background-color: #eaeaea;
}

header,
footer {
   width: 100%;
   color: #fff;
   background-color: #3449dc;
}

footer {
   padding: 20px 0;
   font-size: 16px;
}

p {
   line-height: 1.3;
   margin-bottom: 10px;
}

em {
   font-weight: bold;
}

.container {
   width: 100%;
   max-width: 896px;
   margin: 0 auto;
   padding: 0 15px;
   overflow: auto;
   position: relative;
}

.block {
   margin-bottom: 40px;
}

.block .heading {
   position: relative;
   overflow: auto;
}

.block .heading .fas {
   float: left;
   color: white;
   background: #3449dc;
   padding: 13px;
   border-radius: 50%;
}

.block .title {
   font-size: 26px;
   font-family: 'Montserrat', sans-serif;
   text-transform: capitalize;
   position: absolute;
   top: 50%;
   left: 60px;
   transform: translate(0, -50%);
}

.block .content {
   margin: 15px 0;
   line-height: 1.6;
}

.block-icon {
   overflow: auto;
}

.block-icon .block-icon__item {
   float: left;
   text-align: center;
   margin-right: 28px;
}

.block-icon .block-icon__item:last-child {
   margin-right: 0;
}

.block-icon .block-icon__item .fas {
   color: #3449dc;
   font-size: 25px;
   padding: 10px;
   border: 7px solid #3449dc;
   border-radius: 50%;
}

.block-icon .block-icon__item p {
   margin-top: 10px;
   font-weight: bold;
}

.block.awwards p {
   font-weight: bold;
}

/* HEADER */
header {
   margin-bottom: 45px;
}

header .profile__text {
   line-height: 1.3;
}

header .profile__image {
   display: block;
   width: 140px;
   max-width: 140px;
   height: 140px;
   border-radius: 50%;
   background-color: #d9e0e1;
}

header .profile__text-title {
   font-family: 'Montserrat', sans-serif;
   font-size: 39px;
   font-weight: bold;
}

header .profile__text-subtitle {
   font-size: 23px;
   font-weight: 400;
}

header .contact p:last-child {
   margin-bottom: 0;
}

/* ASIDE */
.portfolio__item-link {
   text-decoration: none;
   color: #1c2123;
}

.portfolio__item-link-image {
   overflow: hidden;
}

.portfolio__item-link-image img {
   display: flex;
   width: 100%;
   height: auto;
}

.portfolio__item-link-content {
   padding: 15px 0;
   background: white;
}

.portfolio__item-link-content h4 {
   font-size: 18px;
   font-weight: 600;
}

/* FOOTER */
footer {
   position: fixed;
   bottom: 0;
}

/* MOBILE */
@media (max-width: 767px) {
   /* HEADER */
   header {
      padding: 10px 0;
   }

   header .profile {
      text-align: center;
   }

   header .profile__image {
      margin: 0 auto;
   }

   header .contact {
      margin-top: 15px;
      text-align: center;
   }

   header .contact i {
      display: none;
   }

   /* ASIDE */
   .portfolio {
      margin-bottom: 100px;
   }

   .portfolio__item {
      max-width: 320px;
      margin: 0 auto;
      margin-bottom: 20px;
   }

   /* FOOTER */
   footer {
      text-align: center;
   }
}

/* DESKTOP */
@media (min-width: 768px) {
   /* HEADER */
   header .container {
      padding: 55px 15px;
   }

   header .profile {
      width: 80%;
      position: relative;
   }

   header .profile__text,
   header .contact {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
   }

   header .profile__text {
      left: 165px;
   }

   header .contact {
      width: 20%;
      right: 0;
   }

   header .contact i {
      font-size: 15px;
      position: relative;
      top: 20px;
      left: -30px;
   }

   /* ASIDE */
   aside {
      float: left;
      width: 30%;
      margin-bottom: 90px;
   }

   .block.reference {
      margin-bottom: 20px;
   }

   .block.reference .content {
      height: 200px;
   }

   .block-reference__timeline {
      width: 1px;
      background: #b4b4b4;
      height: 45%;
      position: absolute;
      top: 46%;
      left: 10px;
      transform: translate(0, -50%);
   }

   .block-reference__timeline::before,
   .block-reference__timeline::after {
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      border: 6px solid #b4b4b4;
      position: absolute;
      left: -8px;
   }

   .block-reference__timeline::before {
      top: -18px;
   }

   .block-reference__timeline::after {
      bottom: -18px;
   }

   .block-reference__content {
      margin-left: 30px;
   }

   .block-reference__content-item:first-child {
      margin-bottom: 35px;
   }

   .block-reference__content-item-date {
      margin-bottom: 2px;
   }

   .block-reference__content-item-company {
      margin-bottom: 3px;
      color: #3449dc;
      font-weight: bold;
   }

   /* MAIN*/
   main {
      float: right;
      width: 70%;
      padding-left: 20px;
   }

   /* ARTICLE */
   .portfolio .block .title {
      left: 80px;
   }

   .portfolio .block .content {
      overflow: auto;
      padding-left: 80px;
   }

   .portfolio__item {
      width: 50%;
      margin-bottom: 26px;
      text-align: center;
   }

   .portfolio__item:nth-child(odd) {
      float: left;
      padding-right: 13px;
   }

   .portfolio__item:nth-child(even) {
      float: right;
      padding-left: 13px;
   }

   .portfolio__item-link-image img {
      transition: transform 0.5s;
      opacity: 0.8;
   }

   .portfolio__item-link-image img:hover {
      transform: scale(1.2);
      opacity: 1;
   }
}
